@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');

.biography {
    width: 100%;
    padding-bottom: 50px;
}

.biography h1 {
    font-family: 'Gugi', cursive;
    font-weight: 400;
    font-size: 2rem;
    text-align: center;
    margin: 25px auto;
    background: linear-gradient(90deg, #72D35E 0%, #3B6D31 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}


.biography .image-container {
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}

.biography .image-container img {
    max-width: 400px;
    max-height: 500px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    transform: scale(2) translateY(-10px);
}
.biography b {
    font-size: 1.1rem;
    display: block;
}
.biography p {
    font-size: 0.85rem;
    max-width: 700px;
    margin: 10px auto;
    padding: 5px 20px 10px 20px;
    text-align: justify;
    width: 100%;
}
