footer {
    background: var(--black);
    padding: 60px 0;
}

.footer-container {
    width: 92.5vw;
    margin: 0 auto;
    padding: 10px;
}

footer .logo {
    font-weight: 800;
    font-size: 1.5rem;
    text-align: left;
    margin-bottom: 1rem;
}

.footer-links {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 3.5rem 0;
}

footer .social-icons {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 2rem 0;
}

.footer-links li a,
footer .social-icons li a {
    color: var(--bg);
    text-decoration: none;
    transition: all 0.3s ease;
    font-weight: 700;
    transition: color 0.3s ease;
    cursor: none;
}

footer .social-icons li a {
    font-size: 1.5rem;
}

.footer-links li a:hover,
.social-icons li a:hover {
    color: #3B6D31;
    transform: scale(1.05);
}

.footer-links a.active {
    color: var(--green);
    font-weight: bold;
    transform: none;
    pointer-events: none;
}

@media (hover: hover) and (pointer: fine) {
    .footer-links li a,
    footer .social-icons li a {
        cursor: pointer;
    }
}


@media (min-width: 900px) {
    footer {
        text-align: left;
        margin: 0 auto;
    }

    .footer-container {
        width: 92.5vw;
        margin: 0 auto;
        display: flex;
        align-items: center;
        padding: 10px;
    }

    footer .logo {
        margin-bottom: 0;
        flex: 1;
        text-align: left;
    }

    .footer-links {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        gap: 10px;
        margin: 0;
        padding: 0;
        z-index: 20;
    }

    .footer-links li a {
        text-decoration: none;
        color: var(--bg);
        background: none;
        border: none;
        gap: 0;
        padding: 10px 12px;
        transition: all 0.3s ease;
        font-weight: 700;
        z-index: 200;
    }

    footer .social-icons {
        justify-content: flex-end;
        display: flex;
        justify-content: flex-end;
        gap: 12.5%;
        flex: 1;
        list-style: none;
        font-size: 1.35rem;
        margin: 1rem 0;
    }
}