aside {
    position: fixed;
    right: 0;
    top: 0;
    transform: translateX(100%);
    width: 250px;
    height: 70vh;
    max-height: 450px;
    background: var(--green);
    transition: all 0.5s ease;
    z-index: 1000;
    padding-bottom: 200px;
    background: linear-gradient(180deg, #72D35E 0%, #3B6D31 100%);
   
}

@media (min-width: 1024px) {
    aside {
        display: none;
    }
}

aside.open {
    transform: translateX(6%);
}

aside button {
    position: absolute;
    top: 1.5rem;
    left: 2.5rem;
    font-size: 3rem;
    background: transparent;
    border: none;
    color: var(--black); 
    z-index: 100;
  }
  @media (hover: hover) and (pointer: fine) {
    aside button {
        cursor: pointer;
    }
}
.sidebar-links {
    list-style: none;
    padding: 0;
    margin-top: 30%;
}

.sidebar-links li {
    padding: 15px;
    text-align: center;
    transition: all 0.4s ease;
}

.sidebar-links a {
    color: var(--black);
    text-decoration: none;
    font-weight: 500;
    display: block;
    padding: 5px 0px;
    transition: color 0.3s;
    cursor: default;
}

  .sidebar-links li a.active {
    color: var(--bg);
    font-weight: bold;
    pointer-events: none;
  }
  
@media (hover: hover) and (pointer: fine) {
    .sidebar-links a {
        cursor: pointer;
    }
}

.sidebar-links a:hover {
    color: var(--sub);
}


aside .social-icons {
    padding: 10px 30px;
    text-align: center;
    margin-top: 15px;
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

aside .social-icons li {
    transition: all 0.3s ease;
    z-index: 20;
    margin-top: 10px;
}

aside .social-icons li a {
    text-decoration: none;
    transition: all 0.3s ease;
    display: block;
    cursor: none;
    color: var(--black);
    font-weight: bold;
    padding: 10px 2px;
    border-radius: 25px;
    font-size: 1.35rem;
}

aside .social-icons li a:hover {
    color: var(--bg);
}

@media (hover: hover) and (pointer: fine) {
    aside .social-icons li a {
        cursor: pointer;
    }
}