.about {
    width: 100%;
}

.about img {
    width: 100%;
    height: 100%;
    max-width: 500px;
    max-height: 600px;
    display: block;
    margin: 0 auto;
}

.about h2 {
    text-transform: uppercase;
    max-width: 500px;
    text-align: center;
    margin: 15px auto;
}
.about p {
    width: 100%;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 25px;
    font-size: 0.85rem;
    font-weight: 400;
    text-align: justify;
}