.home-header {
    position: relative;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
}

@media (min-width: 900px) {
    .home-header {
        grid-template-columns: repeat(3, 1fr);
    }
}

.home-header img {
    width: 100%;
    height: 90%;
}

.home-header img:nth-child(1),
.home-header img:nth-child(3) {
    display: none;
    opacity: 40%;
}

@media (min-width: 900px) {
    .home-header img:nth-child(1),
    .home-header img:nth-child(3) {
        display: block;
    }
}


.header-content {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: var(--black);
    color: brown;
    z-index: 1;
    font-size: large;
    width: 100%;
    font-size: 0;
}