.notfound-container {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: 65vh;
  padding: 80px 20px;
  overflow: hidden;
}

.notfound-container h1 {
  font-size: 5rem;
  margin-bottom: 20px;
  color: #ff4d4f;
  font-family: 'Gugi', sans-serif;
}

.notfound-container p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.notfound-container a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #3B6D31;
  color: var(--bg);
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background 0.3s ease;
  cursor: none;
}

.notfound-container a:hover {
  background-color: var(--green);
}

@media (hover: hover) and (pointer: fine) {
  .notfound-container a {
    cursor: pointer;
  }
}