#musicPage {
    padding: 20px 20px 100px 20px;
}

#musicPage .player {
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    text-align: center;
    max-width: 400px;
    margin: 10px auto;
    background: url('/images/newalbum.jpg') center/cover no-repeat;
}

#musicPage h3 {
    font-family: 'Gugi', cursive;
    font-weight: 700;
    font-size: 1.75rem;
    text-align: center;
    margin: 25px auto;
    background: linear-gradient(90deg, #72D35E 0%, #3B6D31 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

#musicPage .album-cover {
    width: 100%;
    height: 300px;
}

#musicPage .controls {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

#musicPage .controls button {
    background: none;
    border: none;
    font-size: 2rem;
    color: var(--bg);
    cursor: none;
    transition: transform 0.2s;
}

@media (hover: hover) and (pointer: fine) {
    #musicPage .controls button:hover {
        cursor: pointer;
        transform: scale(1.2);
    }
}

#musicPage .progress-container {
    margin: 5px 20px 0 20px;
    background: var(--bg);
    height: 5px;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}

#musicPage .progress-bar {
    background: var(--green);
    height: 100%;
    border-radius: 5px 0 0 5px;
    transition: width 0.2s ease;
}

#musicPage .time-container {
    display: flex;
    justify-content: space-between;
    padding: 5px 20px 25px 20px;
    font-size: 0.95rem;
    font-weight: bold;
    color: var(--bg);
}

#musicPage .music-player-section {
    margin-bottom: 50px;
}


#musicPage .music-cards-section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    place-items: center;
}

@media (min-width: 720px) {
    #musicPage .music-cards-section {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) {
    #musicPage .music-cards-section {
        grid-template-columns: repeat(4, 1fr);
    }
}

#musicPage .music-card {
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background: linear-gradient(180deg, #000000 0%, #666666 100%);
    padding: 25px 20px;
    border-radius: 20px;
    color: var(--bg);
    width: 100%;
    max-width: 400px;
}

#musicPage .music-card img {
    width: 100%;
    height: 300px;
    max-height: 310px;
    border-radius: 20px;
    margin-bottom: 20px;
    object-fit: cover;
}

#musicPage .music-card h4 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 20px;
}

#musicPage .music-card p {
    margin-bottom: 40px;
}

#musicPage .card-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

#musicPage .card-buttons button {
    background-color: #007bff;
    color: var(--bg);
    padding: 10px 12px;
    font-weight: bold;
    font-size: 0.9rem;
    border: none;
    border-radius: 5px;
    cursor: none;
    transition: background-color 0.3s ease;
}

@media (hover: hover) and (pointer: fine) {
    #musicPage .card-buttons button {
        cursor: pointer;
    }
}

#musicPage .card-buttons .download-btn {
    background-color: #3B6D31;
}

#musicPage .card-buttons .download-btn:hover {
    background-color: var(--green);
}

#musicPage .card-buttons button:hover {
    background-color: #0056b3;
}