#newAlbum .player {
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    text-align: center;
    background: url('/images/newalbum.jpg') center/cover no-repeat;
}
#newAlbum h3 {
    display: none;
}
    
#newAlbum .album-cover {
    width: 100%;
    height: 300px;
}

#newAlbum .controls {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

#newAlbum .controls button {
    background: none;
    border: none;
    font-size: 2rem;
    color: var(--bg);
    cursor: none;
    transition: transform 0.2s;
}

@media (hover: hover) and (pointer: fine) {
    #newAlbum .controls button:hover {
        cursor: pointer;
        transform: scale(1.2);
    }
}

#newAlbum .progress-container {
    margin: 5px 20px 0 20px;
    background: var(--bg);
    height: 5px;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}

#newAlbum .progress-bar {
    background: var(--green);
    height: 100%;
    border-radius: 5px 0 0 5px;
    transition: width 0.2s ease;
}

#newAlbum .time-container {
    display: flex;
    justify-content: space-between;
    padding: 5px 20px 25px 20px;
    font-size: 0.95rem;
    font-weight: bold;
    color: var(--bg);
}
