
body.no-scroll {
    overflow: hidden;
  }
  #spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color:var(--bg);
  }
  .spinner {
    position: fixed;
    border: 4px solid#00FFFF;
    border-top: 4px solid  #FF007F;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  #root {
    pointer-events: none;
    transition: opacity 0.35s ease;
  } 

