@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
}
body,
html {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  font-size: 16px;
  background: var(--bg);
  color: var(--black);
}
:root {
  --green:#72D35E;
  --black:#000000;
  --bg: #F9F9F9;
  --text: #2B2B2B;
}
